/* .md-typeset .admonition, .md-typeset details {
    border-width: 0;
    border-left-width: 3px;
} */

.admonition.note,
.admonition.tip,
.admonition.info {
    box-shadow: 0 0 10px 0px rgba(55, 50, 197, 0.4);
}

.admonition.success,
.admonition.question {
    box-shadow: 0 0 10px 0px rgba(24, 187, 62, 0.4);
}

.admonition.danger,
.admonition.bug,
.admonition.failure {
    box-shadow: 0 0 10px 0px rgba(184, 7, 57, 0.4);

}

.admonition.danger,
.admonition.bug {
    animation: pulseCustom 3s infinite;
}

.admonition.example {
    box-shadow: 0 0 10px 0px rgba(96, 9, 195, 0.4);
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes pulseCustom {
    0% {
        box-shadow: 0 0 7px 3px rgba(184, 7, 57, 0.1);
    }

    50% {
        box-shadow: 0 0 10px 5px rgba(184, 7, 57, 0.3);
    }

    100% {
        box-shadow: 0 0 7px 3px rgba(184, 7, 57, 0.1);
    }
}

/* Increase the size of the logo */
.md-header__button.md-logo {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
}

.md-header__button.md-logo img {
    width:  40px;
    height: auto;
    margin: 0;
    padding: 0;
}

